// =========================================================== [Mobile-animation]

// ***************************************[Open]

@keyframes anim {
    0%{
        transform: none;
    }
    50%{
        transform: translateY(5px);
        box-shadow: none;
    }
    100%{
        box-shadow: none;
        transform: rotate(45deg) translateX(4.6px) translateY(5px);
    }
}



@keyframes anime {
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-5px);
        // box-shadow: none;
    }
    100%{
        transform:  rotate(-47deg) translateX(5.6px) translateY(-6.5px);;
    }
}

// ***************************************[Close]

@keyframes animRemove {
    0%{
        box-shadow: none;
        transform: rotate(43deg) translateX(5px) translateY(5px);
    }
    50%{
        transform: translateY(5px);
        box-shadow: none;
    }
    100%{
        transform: none;
    }  
}


@keyframes animeRemove {
    0%{
        transform: rotate(-43deg) translateX(2.5px) translateY(-5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: none;
    }  
}

// ***************************************[socialMedia icon animation]

@keyframes shake {
    from{
        transform: rotate(-8deg);
    }
    to{
        transform: rotate(8deg);
    }
}

// ***************************************[loading anim]

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}